Source: taggert
Section: python
Priority: extra
Maintainer: Martijn Grendelman <m@rtijn.net>
Build-Depends: debhelper (>= 8), python-support, python (>= 2.7), python-distutils-extra
Standards-Version: 3.9.3
Homepage: http://www.grendelman.net/wp/tags/taggert
X-Python-Version: >= 2.7

Package: taggert
Architecture: all
Depends: ${python:Depends}, python-gi, python-pyexiv2, python-tz,
  gir1.2-gtkchamplain-0.12, gir1.2-gtkclutter-1.0, ${misc:Depends}
Description: GTK+ 3 geotagging application that utilizes a map or a GPS trace
 Taggert is an easy-to-use application for geotagging images, either manually,
 using a map like OpenStreetMap, or automatically, using a GPS track. The
 program is written in Python and uses the pyexiv2, PyGObject and pytz
 modules. It is written for GTK+ version 3 or higher and is not compatible
 with GTK+ 2.
